@media only screen and (min-width: 952px) and (max-width: 1211px) {
  img {
    padding: 10px;
    width: 31%;
    height: auto; } }

@media only screen and (min-width: 889px) and (max-width: 951px) {
  img {
    padding: 10px;
    width: 47.5%;
    height: auto; } }

@media only screen and (min-width: 741px) and (max-width: 888px) {
  img {
    padding: 10px;
    width: 47%;
    height: auto; } }

@media only screen and (min-width: 634px) and (max-width: 740px) {
  img {
    padding: 10px;
    width: 46.5%;
    height: auto; } }

@media only screen and (min-width: 445px) and (max-width: 633px) {
  img {
    padding: 10px;
    width: 45%;
    height: auto; } }

@media (max-width: 444px) {
  img {
    padding: 10px;
    width: 95%;
    height: auto; } }
